node_modules
#mongodb username - devavirathanmahalingam  : password - KgUXHJKAWJ18SW7W
# atlas string - mongodb+srv://devavirathanmahalingam:<db_password>@backenddb.n70iu.mongodb.net/?retryWrites=true&w=majority&appName=backendDB